html {
    font-family: sans-serif;
}

body {
    margin: 0
}

a:focus,
a:hover {
    outline: 0
}

strong {
    font-weight: bold
}

img {
    border: 0
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #404040;

}

#nav>ul>li>a>span {
    float: right;
    background-color: #2484FF;
    border-radius: 40px;
    width: 20px
}

.navleft {
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #2c2c2c;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navleft ul,
.navleft li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 50px
}

.navleft li {
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 200ms
}

.navleft .nav-link.active {
    background-color: #0F75D4;
    color:aliceblue;
}

.navleft .nav-link.active-parent {
    background-color: #1E2224;
}

.navleft .nav-list-h2 {
    display: none;
    background-color: #1E2224;
    font-weight: 500
}

.navleft * {
    color: #999999;
    margin:0;
}

.navleft a:hover{
    color:aliceblue
}


.navleft .nav-h2 {
    padding-left: 25px;
    font-size: 20px
}

.navleft .nav-footer {
    padding: 1em 0;
    margin-top: 1em;
    border-top: 1px dashed #666
}

.navleft .nav-footer li{
    text-decoration: none
}

.navleft .nav-footer a{
    color:gray;
    font-size: 0.9em;
}

.navleft .nav-footer li {
    font-size: 1em;
    line-height: 1.7;
}

.nav-link,
.nav-footer li {
    padding: 0 15px 0 15px;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 130ms;
}

#nav-button {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.7;
    line-height: 16px;
    transition: left 0.3s ease-in-out;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-100%, 0);
}

#nav-button span {
    display: block;
    padding: 6px 6px 6px;
    background-color: rgba(243, 247, 249, 0.7);
    border-radius: 0 0 0 5px
}

#nav-button:hover {
    opacity: 1
}

#nav-button.open {
    left: 300px
}

.page-wrapper {
    margin-left: 320px;
    position: relative;
    z-index: 10;
    min-height: 100%;
}

@media (max-width: 930px) {
    .navleft {
        left: -300px
    }

    .navleft.open {
        left: 0
    }

    .page-wrapper {
        margin-left: 0
    }

    #nav-button {
        display: block
    }

    .nav-link {
        padding-top: 0.3em;
        padding-bottom: 0.3em
    }
}

#contributors{
    word-break: normal;
    white-space: normal;
    font-size: medium;
}